<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!--控制台输出-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder charset="UTF-8">
            <pattern>%highlight([%5p]) %magenta([%d{HH:mm:ss.SSS}]) %blue([%16t]) %magenta([%c]) %n%msg%n%n</pattern>
        </encoder>
    </appender>

    <logger name="com.wilderness" level="DEBUG"/>
    <logger name="io.vertx" level="WARN"/>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>